<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@primaryFontName</key>
	<string>ArialRoundedMTBold</string>
	<key>@secondaryFontName</key>
	<string>ArialRoundedMTBold</string>
	<key>@secondaryFontNameBold</key>
	<string>ArialRoundedMTBold</string>
	<key>@secondaryFontNameStrong</key>
	<string>ArialRoundedMTBold</string>
	<key>@inputFontName</key>
	<string>ArialRoundedMTBold</string>
	<key>@primaryFontColor</key>
	<string>#555555</string>
	<key>@secondaryFontColor</key>
	<string>#888888</string>
	<key>@primaryBackgroundColor</key>
	<string>#E6E6E6</string>
	<key>@primaryBackgroundTintColor</key>
	<string>#ECECEC</string>
	<key>@primaryBackgroundColorTop</key>
	<string>#F3F3F3</string>
	<key>@primaryBackgroundColorBottom</key>
	<string>#E6E6E6</string>
	<key>@primaryBackgroundColorBottomStrong</key>
	<string>#DDDDDD</string>
	<key>@secondaryBackgroundColorTop</key>
	<string>#FCFCFC</string>
	<key>@secondaryBackgroundColorBottom</key>
	<string>#F9F9F9</string>
	<key>@primaryBorderColor</key>
	<string>#A2A2A2</string>
	<key>@primaryBorderWidth</key>
	<integer>1</integer>
	<key>ButtonBackgroundColorTop</key>
	<string>#FFFFFF</string>
	<key>ButtonBackgroundColorBottom</key>
	<string>@primaryBackgroundColorBottom</string>
	<key>ButtonBorderColor</key>
	<string>@primaryBorderColor</string>
	<key>ButtonBorderWidth</key>
	<string>@primaryBorderWidth</string>
	<key>ButtonFontColor</key>
	<string>@primaryFontColor</string>
	<key>ButtonFontColorHighlighted</key>
	<string>@secondaryFontColor</string>
	<key>ButtonFontName</key>
	<string>@secondaryFontName</string>
	<key>ButtonFontSize</key>
	<integer>18</integer>
	<key>ButtonHeight</key>
	<integer>37</integer>
	<key>ButtonCornerRadius</key>
	<integer>7</integer>
	<key>LargeButtonHeight</key>
	<integer>50</integer>
	<key>LargeButtonFontSize</key>
	<integer>24</integer>
	<key>LargeButtonCornerRadius</key>
	<integer>10</integer>
	<key>SmallButtonHeight</key>
	<integer>24</integer>
	<key>SmallButtonFontSize</key>
	<integer>14</integer>
	<key>SmallButtonCornerRadius</key>
	<integer>5</integer>
	<key>LabelFontName</key>
	<string>@secondaryFontName</string>
	<key>LabelFontSize</key>
	<integer>20</integer>
	<key>LabelFontColor</key>
	<string>@primaryFontColor</string>
	<key>LabelTextAutoFit</key>
	<false/>
	<key>LargeLabelFontSize</key>
	<integer>28</integer>
	<key>SmallLabelFontSize</key>
	<integer>15</integer>
	<key>NavigationBarFontName</key>
	<string>@secondaryFontName</string>
	<key>NavigationBarFontSize</key>
	<integer>20</integer>
	<key>NavigationBarFontColor</key>
	<string>@primaryFontColor</string>
	<key>NavigationBarTextShadowColor</key>
	<string>clear</string>
	<key>NavigationBarBackgroundColorTop</key>
	<string>@primaryBackgroundColorTop</string>
	<key>NavigationBarBackgroundColorBottom</key>
	<string>@primaryBackgroundColorBottomStrong</string>
	<key>SegmentedControlBackgroundTintColor</key>
	<string>@primaryBackgroundColorTop</string>
	<key>SegmentedControlFontName</key>
	<string>@secondaryFontNameBold</string>
	<key>SegmentedControlFontSize</key>
	<integer>13</integer>
	<key>SegmentedControlFontColor</key>
	<string>@primaryFontColor</string>
	<key>SegmentedControlTextShadowColor</key>
	<string>clear</string>
	<key>TabBarBackgroundColorTop</key>
	<string>@primaryBackgroundColorTop</string>
	<key>TabBarBackgroundColorBottom</key>
	<string>@primaryBackgroundColorBottom</string>
	<key>TabBarFontName</key>
	<string>@secondaryFontName</string>
	<key>TabBarFontColor</key>
	<string>@primaryFontColor</string>
	<key>TabBarFontSize</key>
	<integer>18</integer>
	<key>TabBarTextOffset</key>
	<string>0,-11</string>
	<key>TableCellBackgroundColorTop</key>
	<string>@secondaryBackgroundColorTop</string>
	<key>TableCellBackgroundColorBottom</key>
	<string>@secondaryBackgroundColorBottom</string>
	<key>TableCellFontColor</key>
	<string>@primaryFontColor</string>
	<key>TableCellFontName</key>
	<string>@secondaryFontNameBold</string>
	<key>TableCellFontSize</key>
	<integer>17</integer>
	<key>TableCellDetailFontName</key>
	<string>@secondaryFontName</string>
	<key>TableCellDetailFontSize</key>
	<integer>14</integer>
	<key>TableCellDetailFontColor</key>
	<string>@secondaryFontColor</string>
	<key>TextFieldFontName</key>
	<string>@inputFontName</string>
	<key>TextFieldHeight</key>
	<integer>37</integer>
	<key>TextFieldFontSize</key>
	<integer>18</integer>
	<key>LargeTextFieldHeight</key>
	<integer>50</integer>
	<key>LargeTextFieldFontSize</key>
	<integer>28</integer>
	<key>ViewBackgroundColor</key>
	<string>@primaryBackgroundColor</string>
	<key>ViewBackgroundImage</key>
	<string>NUIViewBackground.png</string>
	<key>UIBarButtonItemBackgroundTintColor</key>
	<string>@primaryBackgroundTintColor</string>
	<key>UIBarButtonItemFontName</key>
	<string>@secondaryFontNameBold</string>
	<key>UIBarButtonItemFontColor</key>
	<string>@primaryFontColor</string>
	<key>UIBarButtonItemTextShadowColor</key>
	<string>clear</string>
	<key>UIBarButtonItemFontSize</key>
	<integer>13</integer>
</dict>
</plist>
